<html>

<head>
  <title>three sixty five: two thousand fifteen</title>
  <script src="//use.typekit.net/zok8xyv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <style type="text/css">

    body {
      background: white;
      margin: 0;
      font-family: helvetica;
    }

    #centerfold {
      color: #666;
      background: #eee;
      margin: 0 auto;
      width: 700px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 30px 0 100px 0;
    }

    a {
      color: black;
      text-decoration: none;
      font-weight: bold;
    }

    h1 {
      padding: 30px 30px 0 30px;
      margin: 0;
      color: #666;
    }

    h1 span {
      color: #aaa;
      font-weight: normal;
    }

    p {
      padding: 30px 30px 0 30px;
      margin: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 0;
      margin: 100px 30px 0 30px;
      position: relative;
    }

    li div {
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: white;
      text-shadow: 0px 0px 10px #333;
    }

    li div span.index {
      position: absolute;
      right: 0;
      bottom: 10px;
      font-size: 80pt;
      opacity: 0.7;
    }

    li div span.date {
      position: absolute;
      font-size: 18pt;
      right: 8px;
      bottom: 0;
      font-weight: bold;
      opacity: 0.4;
    }

    img {
      border: 1px solid #ccc;
      border-radius: 9px;
    }
  </style>
</head>
<body>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-155493-8', 'auto');
  ga('send', 'pageview');

  </script>

  <div id="centerfold">
    <h1><span>three sixty five</span> two thousand fifteen</h1>
    <p>A year of Instagrams by <a href="http://twitter.com/inferis">@inferis</a></p>

    <ul>
      <% for photo in @photos %>
      <li><div>
        <span class='date'><%= photo.created_at.day %>/<%= photo.created_at.month %></span>
        <span class='index'><%= photo.created_at.yday.to_s.rjust(3, "0") %></span>
        </div>
        <a href='<%= photo.link_url %>'><img src='<%= photo.photo_url %>' lowsrc='<%= photo.thumb_url %>'></a>
      </li>
      <% end %>
    </ul>
  </div>

</body>

</html>
